# Node dependencies
node_modules/

# Environment variables
.env

# Build output
frontend/build/

# Uploads
backend/uploads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
